<div class="row mt-3">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Genel Satın Alım Raporu
                </div>
                <div class="d-flex flex-wrap gap-2">
                   
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="purchaseReport" class="table table-bordered text-nowrap w-100">
                        <thead>
                            <tr>
                                <th>Hasat Tarihi</th>
                                <th>Müstahsil</th>
                                <th>Ürün</th>
                                <th>Plaka</th>
                                <th>Şoför</th>
                                <th>Depoya Giriş-Çıkış Tarihi</th>
                                <th>Depo Teslim Tonajı</th>
                                <th>Fire Miktarı</th>
                                <th>Ürün Fiyatı</th>
                                <th>Cari Hakediş Tutarı</th>
                                <th>Brix Değeri</th>
                                <th>Renk</th>
                                <th>Nakliye Türü</th>
                                <th>Araç Kalite Kusur Oranı</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>