<div class="table-responsive">
    <table id="roleintotable" class="table table-bordered text-nowrap w-100">
        <thead>
            <tr>
                <th class="nonsearchable" style="width:10px;">
                    <div class="form-check form-check-md d-flex align-items-center">
                        <input class="form-check-input" type="checkbox" value="" id="checkebox-md">
                    </div>
                </th>
                <th class="nonsearchable">#</th>
                <th>Ad</th>
                <th class="nonsearchable">Aktif Durumu</th>
                <th class="nonsearchable"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="~/js/roleinfolist.js" defer></script>