 <!-- Start::app-sidebar -->
<aside class="app-sidebar sticky" id="sidebar">

    <!-- Start::main-sidebar-header -->
    <div class="main-sidebar-header">
        <a href="/Home/Index" class="header-logo">
            <img src="~/Theme/HTML/dist/assets/images/brand-logos/K-ONE-beyaz.png" alt="logo" class="desktop-logo">
            <img src="~/Theme/HTML/dist/assets/images/brand-logos/K-ONE-beyaz.png" alt="logo" class="toggle-logo">
            <img src="~/Theme/HTML/dist/assets/images/brand-logos/K-ONE-beyaz.png" alt="logo" class="desktop-dark">
            <img src="~/Theme/HTML/dist/assets/images/brand-logos/K-ONE-beyaz.png" alt="logo" class="toggle-dark">
            <img src="~/Theme/HTML/dist/assets/images/brand-logos/K-ONE-beyaz.png" alt="logo" class="desktop-white">
            <img src="~/Theme/HTML/dist/assets/images/brand-logos/K-ONE-beyaz.png" alt="logo" class="toggle-white">
        </a>
    </div>
    <!-- End::main-sidebar-header -->
    <!-- Start::main-sidebar -->
    <div class="main-sidebar" id="sidebar-scroll">

        <!-- Start::nav -->
        <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <div class="slide-left" id="slide-left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path> </svg>
            </div>
            <ul class="main-menu">
                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">Hızlı İşlemler</span></li>
                <!-- End::slide__category -->
                <!-- Start::slide -->
                <li class="slide">
                    <a href="/Home/Index" class="side-menu__item">
                        <i class="bx bx-home side-menu__icon"></i>
                        <span class="side-menu__label">Anasayfa </span>
                    </a>
                </li>
                <!-- End::slide -->
                <li class="slide__category"><span class="category-name">Cariler</span></li>
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-user side-menu__icon"></i>
                        <span class="side-menu__label">Cariler</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">

                        <li class="slide">
                            <a href="/CurrentCard/Index" class="side-menu__item">Cari Listesi</a>
                        </li>
                        <li class="slide">
                            <a href="/CurrentCard/AddOrUpdateCurrentCard" class="side-menu__item">Cari Oluştur</a>
                        </li>
                        <li class="slide">
                            <a href="/Contract/Contracts" class="side-menu__item">Sözleşmeler</a>
                        </li>
                    </ul>
                </li>
                <li class="slide__category"><span class="category-name">Kalite Kontrol</span></li>
                <!-- End::slide__category -->
                <!-- Start::slide -->
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bxs-truck side-menu__icon"></i>
                        <span class="side-menu__label">Sevkiyatlar</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">

                        <li class="slide">
                            <a asp-controller="Shipment" asp-action="Index" class="side-menu__item">Gelen Sevkiyatlar</a>
                        </li>

                    </ul>
                </li>
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bxl-product-hunt side-menu__icon"></i>
                        <span class="side-menu__label">Hammde Kontrol</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">

                        <li class="slide">
                            <a asp-controller="QualityControl" asp-action="RawMaterialInputControlInput" class="side-menu__item">Hammdde Girdi Kontrol Oluştur</a>
                        </li>
                        <li class="slide">
                            <a asp-controller="QualityControl" asp-action="RawMaterialInputControlInputList" class="side-menu__item">Hammdde Girdi Kontrol Listesi</a>
                        </li>
                    </ul>
                </li>
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-box side-menu__icon"></i>
                        <span class="side-menu__label">Paket Kontrol</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">

                        <li class="slide">
                            <a asp-controller="QualityControl" asp-action="PackagingControl" class="side-menu__item">Paket Kontrol Oluştur</a>
                        </li>
                        <li class="slide">
                            <a asp-controller="QualityControl" asp-action="PackagingControlList" class="side-menu__item">Paket Kontrol Listesi</a>
                        </li>
                    </ul>
                </li>
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-area side-menu__icon"></i>
                        <span class="side-menu__label">Bahçe Kalite Kontrol</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">

                        <li class="slide">
                            <a asp-controller="QualityControl" asp-action="Index" class="side-menu__item">Kalite Kontrol Ön Form</a>
                        </li>
                        <li class="slide">
                            <a asp-controller="QualityControl" asp-action="GardenControlList" class="side-menu__item">Kalite Ön Form Listesi</a>
                        </li>
                    </ul>
                </li>
                <li class="slide__category"><span class="category-name">Stok Kartları</span></li>
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-box side-menu__icon"></i>
                        <span class="side-menu__label">Ürünler</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a asp-controller="Product" asp-action="Index" class="side-menu__item">Listele</a>
                            <a asp-controller="Product" asp-action="ProductUpdate" class="side-menu__item">Oluştur</a>
                        </li>
                    </ul>
                </li>
                <li class="slide__category"><span class="category-name">Siparişler</span></li>
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-basket side-menu__icon"></i>
                        <span class="side-menu__label">Siparişler</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a asp-controller="StatisticsVisualization" asp-action="OrderTrack" class="side-menu__item">Sipariş Takip</a>
                        </li>
                        <li class="slide">
                            <a asp-controller="Order" asp-action="Index" class="side-menu__item">Sipariş Oluştur</a>
                        </li>
                        <li class="slide">
                            <a asp-controller="Order" asp-action="OrderList" class="side-menu__item">Sipariş Listesi</a>
                        </li>
                    </ul>
                </li>
                <li class="slide__category"><span class="category-name">Kullanıcılar</span></li>
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-user side-menu__icon"></i>
                        <span class="side-menu__label">Kullanıcılar</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">

                        <li class="slide">
                            <a href="/User/Index" class="side-menu__item">Kullanıcı Listesi</a>
                        </li>
                        <li class="slide">
                            <a href="/User/AddOrUpdateUser" class="side-menu__item">Kullanıcı Oluştur</a>
                        </li>

                    </ul>
                </li>

                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-file-blank side-menu__icon"></i>
                        <span class="side-menu__label">Roller</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">

                        <li class="slide">
                            <a href="/Role/Index" class="side-menu__item">Roller Listesi</a>
                        </li>
                        <li class="slide">
                            <a href="/Role/AddOrUpdateRole" class="side-menu__item">Rol Oluştur</a>
                        </li>
                        <li class="slide">
                            <a href="/Role/AllRolePermission" class="side-menu__item">Roller Erişim Listesi</a>
                        </li>
                    </ul>
                </li>
                <!-- Start::slide__category -->
                <!-- End::slide__category -->
                <!-- Start::slide -->
                <!-- End::slide__category -->
                <!-- Start::slide -->
                <!-- Start::slide__category -->
                <!-- End::slide -->
                <!-- Start::slide -->
                <!-- End::slide -->
                <!-- Start::slide -->
                <!-- End::slide -->
                <!-- Start::slide__category -->
                <!-- End::slide -->
                <!-- Start::slide -->
                <!-- End::slide -->
                <!-- Start::slide__category -->
                <!-- End::slide -->
                <!-- Start::slide -->
                <!-- End::slide -->
                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">İstatislikler</span></li>
                <!-- End::slide__category -->
                <!-- Start::slide -->


                <li class="slide ">
                    <a asp-controller="StatisticsVisualization" asp-action="Graphs" class="side-menu__item">
                        <i class="bx bx-bar-chart-square side-menu__icon"></i>
                        <span class="side-menu__label">Grafikler</span>
                    </a>
                </li>
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bxs-report side-menu__icon"></i>
                        <span class="side-menu__label">Raporlar</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a asp-action="PurchaseReports" asp-controller="StatisticsVisualization" class="side-menu__item">
                                <span class="side-menu__label">Satın Alım Raporu</span>
                            </a>
                        </li>
                        <li class="slide">
                            <a asp-action="SaleReports" asp-controller="StatisticsVisualization" class="side-menu__item">
                                <span class="side-menu__label">Satış Raporu</span>
                            </a>
                        </li>
                        <li class="slide">
                            <a asp-action="SampleReports" asp-controller="StatisticsVisualization" class="side-menu__item">
                                <span class="side-menu__label">Numune Raporları</span>
                            </a>
                        </li>
                        <li class="slide">
                            <a asp-action="WareHouseReports" asp-controller="StatisticsVisualization" class="side-menu__item">
                                <span class="side-menu__label">Depo Raporları</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- End::slide -->
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-file-blank side-menu__icon"></i>
                        <span class="side-menu__label">Tanımlamalar</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="/Define/Index" class="side-menu__item">Tanımlar</a>
                        </li>

                    </ul>
                </li>

            </ul>
            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path> </svg></div>
        </nav>
        <!-- End::nav -->

    </div>
    <!-- End::main-sidebar -->

</aside>
<!-- End::app-sidebar -->