@{
    Layout = "_Layout";
}
@await Html.PartialAsync("_Breadcrumb", new KONE.KOne.WebUI.Models.BreadCrumb.BreadCrumbViewModel
{
    HeaderTitle = "Roller",
    PageNames = new List<string>() { "Admin", "Anasayfa", "Index", "Roller" },
    Url = "/Admin/Home/Index"
})



<div class="row">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                     Roller
                </div>
                <div class="d-flex flex-wrao gap-2">
                    <a asp-controller="Role" asp-action="AddOrUpdateRole">Yeni Kayıt</a>
                </div>
            </div>
            <div class="card-body">
                @await Component.InvokeAsync("RoleListViewComponents")
            </div>
        </div>
    </div>
</div>

