<div class="row mt-3">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    <span class="bi bi-people-fill"></span> Depo Rapor Listesi
                </div>
                <div class="d-flex flex-wrap gap-2">
                    <!-- Gerektiğinde buraya ekstra butonlar veya filtreler eklenebilir -->
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="wareHouseReports" class="table table-bordered text-nowrap w-100">
                        <thead>
                            <tr>
                                <th>Inceleme Tarihi</th>
                                <th>Ürün Adı</th>
                                <th>Araç Plakası</th>
                                <th>Yetiştirici</th>
                                <th>Müstahsil</th>
                                <th>Kalibre</th>
                                <th>Tonaj</th>
                                <th width="10"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Buraya DataTables ile oluşturulan satırlar eklenecek -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
