@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Hammadde Girdi Kontrol Barkod</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

   <div>
        <table style="width:50%">
            <tr>
                <th colspan="2">Kantar Giriş Numarası: 59856737</th>
            </tr>
            <tr>
                <th colspan="2">Cari Bilgileri</th>
            </tr>
            <tr>
                <td>Ad</td>
                <td>Fevzi </td>
            </tr>
            <tr>
                <td>Soyad</td>
                <td>Satan </td>
            </tr>
            <tr>
                <th colspan="2">Ürün Bilgileri</th>
            </tr>
            <tr>
                <td>Ürün Adı</td>
                <td>Nar</td>
            </tr>
            <tr>
                <td>Ürün Alım Bölgesi</td>
                <td>Bölge  10</td>
            </tr>
            <tr>
                <th colspan="2"><br /></th>
            </tr>
            <tr>
                <td>Kasa Sayısı</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>Palet Sayısı</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Net Ağırlık</td>
                <td>5 Ton</td>
            </tr>
            <tr>
                <th colspan="2"><br /></th>
            </tr>
            <tr>
                <td>Kantar Giriş Tarihi</td>
                <td>2024-03-02</td>
            </tr>
            <tr>
                <td>Mal Kabul Tarihi</td>
                <td>2024-07-05</td>
            </tr>
            <tr>
                <th colspan="2">Sözleşme Numarası : 23456734</th>
            </tr>
            <tr>
                <td colspan="2" style="padding-top: 5%; padding-bottom: 5%">
                    @* <img  src="~\images\barcode.gif" /> *@
                    <img style="width:100% !important; height: 100px;" src="../images/barcode.gif" alt="img">
                </td>
            </tr>
        </table>
   </div>
</body>
</html>