<div class="row mt-3">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Genel Satış Raporu
                </div>
                <div class="d-flex flex-wrap gap-2">

                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="salesReport" class="table table-bordered text-nowrap w-100">
                        <thead>
                            <tr>
                                <th>Müşteri Bilgi</th>
                                <th>Sipariş Tarihi</th>
                                <th>Sevk Tarihi</th>
                                <th>Soğuk Hava Deposundan Çıkış Tarihi</th>
                                <th>Sipariş Teslim Tarihi</th>
                                <th>Plaka</th>
                                <th>Şoför Bilgisi</th>
                                <th>Sipariş Tonajı</th>
                                <th>Sipariş Kutu Palet Sayısı</th>
                                <th>Sipariş Tutarı</th>
                                <th>Sipariş Kusur Oranı</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Buraya DataTables ile oluşturulan satırlar eklenecek -->
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>